name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: dani3llla
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg

      - name: Force custom snake color
        run: |
          # cor desejada
          COLOR="#00ff6a"

          # substitui qualquer cor presente no caminho da cobrinha
          sed -i "s/stroke=\"[^\"]*\"/stroke=\"$COLOR\"/g" dist/github-contribution-grid-snake-dark.svg
          sed -i "s/fill=\"[^\"]*\"/fill=\"$COLOR\"/g" dist/github-contribution-grid-snake-dark.svg

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
